<div class="container">


  <div id="checkout" class="checkout-container">

    	<h1 id="checkouthead"> You have {{ctrl.getTotalAmount()}} items in your cart: {{ctrl.subtotal | currency}}
  	</h1>

    	
    	<button id="checkout-button" type="button" class="btn btn-primary btn-lg button4 button" ui-sref="shop.order" ng-click="ctrl.checkout()">Check Out</button>

  </div>
<hr></hr>

  <div id="checkouttable">
    <table class="table">
      <thead>
        <tr>
          <th id="tablefont">Quantity</th>
          <th id="tablefont">Item</th>
          <th id="tablefont">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="items in ctrl.cart">
          <td>{{items.amount}}</td>
          <td>
            <img ng-src="{{items.item.image}}">
            {{items.item.name}} - {{items.item.category}} 
          </td>
          <td>${{items.item.price}}</td>
          <td><button class="btn trash"><i class="fa fa-trash-o" aria-hidden="true" ng-click="ctrl.removeCart(items.item.id)"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id = "subtotal"> 
    <p>SubTotal: {{ctrl.subtotal | currency}}</p> 
    <p>HST: {{ctrl.hst | currency}}</p>
    <p>Total: {{ctrl.total | currency}}</p>
    <button ui-sref="shop.order" ng-click="ctrl.checkout()"> Check Out </button>
  </div>
 
    

</div>