<div class="container">


  <div id="checkout" class="checkout-container">
    	<h1 id="checkouthead"> you have {{ctrl.amount}} items in your cart: {{ctrl.subtotal | currency}}
  	</h1>
    	
    	<button id="checkout-button" type="button" class="btn btn-primary btn-lg" ui-sref="shop.order">Check Out</button>

  </div>

  <div id="checkouttable">
    <table class="table">
      <thead>
        <tr>
          <th>Quantity</th>
          <th></th>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="items in ctrl.cart">
          <td>{{items.amount}}</td>
          <td><img ng-src="{{items.item.image}}"></td>
          <td>{{items.item.name}} - {{items.item.category}} </td>
          <td>${{items.item.price}}</td>
          <td><button class="btn"><i class="fa fa-trash-o" aria-hidden="true" ng-click="ctrl.removeCart(items.item.id)"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id = "subtotal"> 
    <p>SubTotal: {{ctrl.subtotal | currency}}</p> 
    <p>HST: {{ctrl.hst | currency}}</p>
    <p>Total: {{ctrl.total | currency}}</p>
  </div>
 
    
  	
 
  </div>

</div>