<div class="container">


  <div id="checkout" class="checkout-container">
    	<h1 id="checkouthead"> you have x items in your cart: $x
  	</h1> 
    	
    	<button id="checkout-button" type="button" class="btn btn-primary btn-lg button4 button" ui-sref="shop.order">Check Out</button>

  </div>
<hr></hr>

  <div id="checkouttable">
    <table class="table">
      <thead>
        <tr>
          <th id="tablefont">Quantity</th>
          <th></th>
          <th id="tablefont">Item</th>
          <th id="tablefont">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="items in ctrl.cart">
          <td>{{items.amount}}</td>
          <td><img ng-src="{{items.item.image}}"></td>
          <td>{{items.item.name}} - {{items.item.category}} </td>
          <td>${{items.item.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div id = "subtotal"> 
  	Subtotal: $y
  </div>
  <hr></hr>
  </div>

</div>