<div class="container orderform container">
	<div id="firstform">
		<p id="yourdetails">YOUR DETAILS: </p>

		<hr></hr>

	      <label class="custom_lebel">First Name *</label>
	      <input 
	      	type="text" class="form-control cfc" placeholder="Write name here..."
	      	ng-minlength = "5"
	      	ng-maxlength = "20"
	      	ng-model = "ctrl.firstname"
	      	>
	    
	      <label class="custom_lebel">Last Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here..." 
	      ng-minlength="5"
	      ng-maxlength="20"
	      ng-model ="ctrl.lastname"
	      required 
	      >
	      
	      <label class="custom_lebel">Phone Number *</label>
	      <input type="number" class="form-control cfc" placeholder="Write phone number here..."
	      ng-minlength="5"
	      ng-maxlength="12"
	      ng-model="ctrl.phoneNum"
	      required
	      >
	      
	      <label class="custom_lebel">Email *</label>
	      <input type="email" class="form-control cfc" placeholder="Write email here..."
	      ng-minlength="5"
	      ng-maxlength="20"
	      ng-model="ctrl.email"
	      required>
	      
	 </div>


	 <div id="formtwo">

	 	<p id="yourdetails">SHIP TO: </p>
	 	<hr></hr>

	      <label class="custom_lebel">First Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write name here..."
	      ng-minlength="5"
	      ng-maxlength="20"
	      ng-model="ctrl.firstname"
	      required>
	    
	      <label class="custom_lebel">Last Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here..."
	      ng-minlength="5"
	      ng-maxlength="20"
	      ng-model="ctrl.lastname"
	      required>
	      
	      <label class="custom_lebel">Address *</label>
	      <input type="text" class="form-control cfc" placeholder="Write address here..."
	      ng-minlength="5"
	      ng-maxlength="12"
	      ng-model="ctrl.address"
	      required>
	      
	    
	 </div>


	 <div id="formthree">
	 	<p id="yourdetails"> BILL TO: </p>
	 	<hr></hr>

	      <label class="custom_lebel">CREDIT CARD NUMBER *</label>
	      <input type="number" class="form-control cfc" placeholder="Write card number here..."
	      ng-minlength="10"
	      ng-maxlength="20"
	      ng-model="ctrl.creditcard"
	      required>
	    
	      <label class="custom_lebel">CREDIT CARD CVV *</label>
	      <input type="number" class="form-control cfc" placeholder="CDN number here..."
	      ng-minlength="10"
	      ng-maxlength="20"
	      ng-model="ctrl.creditcard"
	      required>

	      <label class="custom_lebel">NAME ON CARD</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here..."
	      ng-minlength="3"
	      ng-maxlength="20"
	      ng-model="ctrl.cardname"
	      required>
	   </div>


	   <button id="submit-button" type="button" class="btn btn-primary btn-lg button4" ui-sref="shop.summary" ng-submit="ctrl.submitOrder()" ng-click="ctrl.submitOrder(); ctrl.addOrder(ctrl.newOrder) ">Submit</button>


</div>

  <hr></hr>


