<div class="container orderform container">
	<div id="firstform">
		<p id="yourdetails">YOUR DETAILS: </p>

	      <label class="custom_lebel">First Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write name here...">
	    
	      <label class="custom_lebel">Last Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here...">
	      
	      <label class="custom_lebel">Phone Number *</label>
	      <input type="text" class="form-control cfc" placeholder="Write phone number here...">
	      
	      <label class="custom_lebel">Email *</label>
	      <input type="text" class="form-control cfc" placeholder="Write email here...">
	      
	 </div>


	 <div id="formtwo">

	 	<p id="yourdetails">SHIP TO: </p>

	      <label class="custom_lebel">First Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write name here...">
	    
	      <label class="custom_lebel">Last Name *</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here...">
	      
	      <label class="custom_lebel">Address *</label>
	      <input type="text" class="form-control cfc" placeholder="Write phone number here...">
	      
	    
	 </div>


	 <div id="formthree">
	 	<p id="yourdetails"> BILL TO: </p>

	      <label class="custom_lebel">CREDIT CARD NUMBER *</label>
	      <input type="text" class="form-control cfc" placeholder="Write name here...">
	    
	      <label class="custom_lebel">NAME ON CARD</label>
	      <input type="text" class="form-control cfc" placeholder="Write last name here...">
	   </div>


	   <button id="submit-button" type="button" class="btn btn-primary btn-lg">SUBMIT</button>

</div>



