<div class="container-orderform">
<form id="orderform">


<div  class="row bl-row">
  <div class="col-sm-6 col-xs-12 bl-col">
    <div class="form-group has-error has-feedback nm">
      <label class="custom_lebel">First Name *</label>
      <input type="text" class="form-control cfc" placeholder="Write here your name...">
      <i class="glyphicon glyphicon-remove form-control-feedback"></i>
      <span class="help-block">Please fill out this field.</span>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 bl-col">
    <div class="form-group has-error has-feedback nm">
      <label class="custom_lebel">Last Name *</label>
      <input type="text" class="form-control cfc" placeholder="Write here your name...">
      <i class="glyphicon glyphicon-remove form-control-feedback"></i>
      <span class="help-block">Please fill out this field.</span>
    </div>
  </div>
</div>
<div  class="row bl-row">
  <div class="col-sm-6 col-xs-12 bl-col">
    <div class="form-group has-error has-feedback nm">
      <label class="custom_lebel">Username *</label>
      <input type="text" class="form-control cfc" placeholder="Write here your name...">
      <i class="glyphicon glyphicon-remove form-control-feedback"></i>
      <span class="help-block">Please fill out this field.</span>
    </div>
  </div>
  <div class="col-sm-6 col-xs-12 bl-col">
    <div class="form-group has-error has-feedback nm">
      <label class="custom_lebel">Email *</label>
      <input type="text" class="form-control cfc" placeholder="Write here your name...">
      <i class="glyphicon glyphicon-remove form-control-feedback"></i>
      <span class="help-block">Please fill out this field.</span>
    </div>
  </div>
</form>


</div>
