<div id="product-page">
	<div class="container">
		<div class="jumbotron"> 
			<img ng-src="{{ctrl.product.data.product.image}}"> 
		</div>

	
		<div class="row">
			<div class="col-md-6">
				<p>Name: {{ctrl.product.data.product.name}}</p>
				<p>ID: {{ctrl.product.data.product.id}}</p>
				<p>Price: ${{ctrl.product.data.product.price}} </p>
				<div>
					<label>Quantity</label>
					<select ng-options="option.value as option.number for option in ctrl.quantities" ng-model="ctrl.quantity" ng-init="ctrl.quantity = 1" name="quantity">
					</select>
				</div>
				<button ng-click="ctrl.addCart(ctrl.product.data.product)"> ADD TO CART </button>
			</div>

			<div class="col-md-6">
				<h7>About Frame</h7>
				<p>Frame Fit: Wide</p>
				<p>Measurements: 58-18-140</p>
				<p>Description: {{ctrl.description.details}}</p>
			</div>
		</div>
	</div>
</div>





























