<div id="product-page">
	<div class="jumbotron"> <img src="assets/img/dress.png"> </div>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>Name: {{ctrl.nameFrame}}</p>
				<p>ID: {{ctrl.frameID}}</p>
				<p> {{ctrl.framePrice}} </p>
				<button> ADD TO CART </button>
			</div>

			<div class="col-md-6">
				<p>About Frame</p>
				<p>Frame Fit: {{ctrl.frameFit}}</p>
				<p>Measurements: {{ctrl.measurements}}</p>
				<p>Description: {{ctrl.frameDescription}}</p>
			</div>
		</div>
	</div>
	<hr>
</div>






























</div>