
<!-- JUMBOTRON -->


<section class="container" role="">
	<div id="jumbo-home" class="jumbotron jumbo-image">
		
	</div>
</section>

<!-- <section class="top-content" role="topbanner">
	<div class="content-wrapper">
		<div class="table-view">
			<div class="table-cell">
				<div class="content">		
					<h1>
					Heldere Glazen
					</h1>
					<h3>
					European Eyewear 
					</h3>
				</div>
			</div>
		</div>
	</div>
</section> -->


<!-- CATAGORIES -->
<section class="product-view" role="product-view">
	<div class="container">
		<div id="categories" class="row row-styling">

			<div class="col-xs-6 col-sm-4 col-md-3 cat-box">
				<div class="doc-img" >
					<!-- <img class="pic-img">  -->
					<div class="cat-text">
						DOC
					</div> 
				</div>
				<div class="cat-overlay" ui-sref="shop.page"></div>
			</div>

			<div class="col-xs-6 col-sm-4 col-md-3 cat-box">
				<div class="micro-img" >
					<div class="cat-text">
						MICRO
					</div> 
				</div>
				<div class="cat-overlay" ui-sref="shop.page"></div>
			</div> 

			<div class="col-xs-6 col-sm-4 col-md-3 cat-box">
				<div class="state-img" > 
					<div class="cat-text">
						STATE
					</div> 
				</div>
				<div class="cat-overlay" ui-sref="shop.page"></div>
			</div> 

			<div class="col-xs-6 col-sm-4 col-md-3 cat-box">
				<div class="snow-img" > 
					<div class="cat-text">
					 SNOW
					</div> 
				</div>
				<div class="cat-overlay" ui-sref="shop.page"></div>
			</div> 

		</div>
	</div>
<section> 

