
<section id="shop_page">
	<div class="container">
		<div class="row">

			<!-- SIDE BAR -->
			<div class="col-lg-2 col-md-2"> 
				<div class="row">  

					<div ng-click="ctrl.CollectionSelect('doc')" class="col-lg-6 col-md-6 centered-text">

						<img class="images" src="../../assets/img/Glass_icons/Doc.png">
						<p class="cat-names"> doc </p>

						<div class="colorOverlay">
					 	</div>

					</div>
						
					<div ng-click="ctrl.CollectionSelect('micro')" class="col-lg-6 col-md-6 centered-text">
						<img class="images" src="../../assets/img/Glass_icons/Micro.png">
						<p class="cat-names"> micro </p>
						<div class="colorOverlay">
						</div>
					</div>		

				</div>
				
				<div class="row"> 
					<div ng-click="ctrl.CollectionSelect('state')" class="col-lg-6 col-md-6 centered-text">
						<img class="images" src="../../assets/img/Glass_icons/State.png">
						<p> state </p>
						<div class="colorOverlay">
						</div>
					</div>
					
					<div ng-click="ctrl.CollectionSelect('snow')" class="col-lg-6 col-md-6 centered-text">
						<img class="images" src="../../assets/img/Glass_icons/Snow.png">
						<p> snow </p>
						<div class="colorOverlay">
						</div>
					</div>		    		
    					
				</div>

				  <!-- side options -->
	            <div class="selector-options">

	            	<select class="form-control" ng-options="option as option.label for option in ctrl.sortOptions" ng-model="ctrl.selected">
		     		 	</select>
					<form action="demo_form.asp" method="get">

						<div class="forms" ng-click="ctrl.check()"> 
						  <input type="checkbox" name="eyewear" ng-model="ctrl.eyeCheck" value="Eyewear"> Eyewear
						</div>

						<div class="forms" ng-click="ctrl.check()"> 
						  <input type="checkbox" name="sunglasses" ng-model="ctrl.sunCheck" value="Sun Glasses" > Sunglasses 
						</div>

						<div class="forms" ng-click="ctrl.check()"> 
						  <input type="checkbox" name="show all" ng-model="ctrl.showAll" value="Show All" checked="checked"> Show All 
						</div>

					</form>
	            </div>
			</div>

			<!-- COLLECTION-->
      		<div class="col-md-10">
                <div class="col-md-4" ng-repeat="item in ctrl.products | filter: ctrl.selectFilter | filter: ctrl.selectedCollection | orderBy: ctrl.selected.sortField : ctrl.selected.reverse " ng-click="ctrl.goToProductPage(item.id)">
                	<div class="boxcolor">
                		<img class="collection-products" ng-src="{{item.image}}">
                		
                		<div class="overlay"> 
                			<p class="item-details">
	                			<span class="item-name"> +{{item.name}}
	                			<br>  
	                			</span>

	                			 <span class="item-desc">
								{{item.category}}
								<br> 
	                			{{item.price | currency}}
	                			</span>
                			</p>
                		</div>
                	</div>
                </div>
            </div> <!-- end of collection -->
          
        </div><!-- end of row -->
	</div> <!-- end of container -->

</section>
