#yourdetails {


	font-size: 15px;
}

.orderform {
	width: 30%;
	height: 30%;
	border: 50px;


}

#submit-button {
	float: right;
	margin-top: 30px;

}

#formtwo {
	margin-top:30px;
}

#formthree {
	margin-top:30px;
}