/*JUMBOTRON*/

#jumbo-home{
	margin-bottom: 0;
}

.jumbo-image{
	height: 500px;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/hero1.jpg");
}

/*CATEGORY*/

.cat-box {
	height: 160px;
/*	width: 25%;*/
}

#categories .row-styling {
	margin-right: 0px;
    margin-left: 0px;
    padding: 0;
}

.cat-text {
	border-bottom: 1px dashed rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 10%;
	left: 45%;
	padding: 2%;
	display: inline-block;
}

/*INDIVIDUAL PAGES*/
.doc-img {
	height: 100%;
	background-image: url("../img/glasses.img/shoppingmain/category-doc.jpg");
}
.pic-img {
	width: 100%;
	overflow: hidden;
}

