/*JUMBOTRON*/

#jumbo-home{
	margin-bottom: 0;
}

.jumbo-image{
	height: 500px;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/hero1-bw.jpg");
}

/*CATEGORY*/

.cat-box {
	height: 290px;
	width: 25%;
	padding: 5px;
}

#categories .row-styling {
	margin-right: 0px;
    margin-left: 0px;
    padding: 0;
}

.cat-text {
	border-bottom: 1px dashed rgba(255, 255, 255, .5);
	position: absolute;
	bottom: 10%;
	left: 45%;
	padding: 2%;
	display: inline-block;
}

.cat-box:hover .cat-overlay {
	opacity: .5;
	background-color: black;
}

.cat-overlay {
	position: absolute;
	/*position: relative;*/
	top: 3px;
	left: 5px;
	right: 5px;
	height: 97%;
	width: 97%;
    opacity:0;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
}

/*INDIVIDUAL CATEGORIES*/

.doc-img {
	height: 100%;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/category-doc-bw.jpg");
}

.micro-img {
	height: 100%;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/category-micro-bw.jpg");
}

.state-img {
	height: 100%;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/category-state-bw.jpg");
}

.snow-img {
	height: 100%;
	background-size: cover;
	background-image: url("../img/glasses.img/shoppingmain/category-snow-bw.jpg");
}

.doc-img > .pic-img {
	width: 100%;
	overflow: hidden;
}

