#shop_page .icon-box {
	display: inline-block;
}

#shop_page .icon-State_resize {
	align-items: vertical;
	width: 100%;
	height: 100%;
}

#shop_page .frames_sidebar{
	background-color: #F7F7F7;
	height: 300px;
}
