/*UNIVERSAL/GLOBAL STYLES MADE BY US*/
/* there is a global _ui.css but that is their original
let's try to edit this one for global in case anything breaks!

NAV BAR STYLINGS INCLUDED
 */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

body {
font-family: Ubuntu;
font-weight: 400;
}

h1:hover {
 	color: #91adc9;
 	cursor: pointer;
}

ul {

	list-style: none;
}

h1 {
font-weight: 300;
letter-spacing: 2px
}

p {
	margin-bottom: 0;
}

.gap {
	margin-right: 10px;
	margin-top: 10px;
}

p.company {
	margin-bottom: 10px;

}


/*NG FUNCTION COURSERS*/
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/*NAV BAR*/

.brand-icon-div {
	width: 80%;
	position: relative;
	left: 10%;
	border-bottom: 2px solid black;
}

.icon-padding {
	display: inline-block;
	margin-bottom: 3%;
}

.navmain-div {
	float: center;
	width: 80%;
	position: relative;
	left: 10%;
}

.nav-display > li {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: grey;
	box-shadow: none;
}


.login-padding {
	padding-left: 5%;
}

.nav-display {
	display: inline;

	min-width: 10px;
}

.nav-items {
	padding-right:3%;
	cursor: pointer;
}

.nav-items:hover  {
	color: #91adc9;
	width: 140px;
	}

.last-item {
	margin: 0;
	width: 200px;
	margin-right: 30px;
}
.nav-float {
	float: right;
} 

.nav-display.nav-float {
	min-width: 150px;
}
.gap {
	margin-bottom: 50px;
}

.cart-num { 
	width: 15px;
	height: 15px;
	border: 1px solid #2C3539;
	border-radius: 2px;
	display: inline-block;
} 

/*FOOTER STYLING*/
.footer-right{
	float:right;
	font-size: 20px;
}

footer {
	margin-top: 2%;
}